body{
    background-color:#dcbca0;
}
.container {
    width:90vw;
     background-color:#f7f1f1;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-self:center;
    margin:20px auto;
    
}
/* Navbar */
.navbar {
    display:flex;
    justify-content: space-between;
    padding:10px;
    border-bottom: 2px solid #fff;

}

a {
    text-decoration: none;
    padding:10px;
    color:#1d3046;
    font-size:18px;
}
.logo{
    display:flex;
}
.logo img {
    height:30px;
    width:30px;
    border-radius:15px;
}
.logo h1 {
    font-size:25px;
    
}
.logo span {
    color:#bd8353;
}

/* Navbar end */

/* Banner start */
.banner {
    display:flex;
    padding:30px;

}
.text-part {
    margin-top: 100px;
    width:37vw;
}

.text-part h2 {
    color:#bd8353;
    font-weight: 700;

}
.text-part h1 {
    margin-top:20px;
    color:#1d3046;
    font-size: 50px;;
}
.text-part h1 span {
    padding-left:10px;
    color:#bc7940;
}
.text-part button {
     margin-top:10px;
     padding:10px 20px 10px 20px;
     background-color:#bc7940; 
     border:none; 
     color:#fff;  
}
.image-part {
    display:flex;
    justify-content:center;
    align-self: center;
    align-content: center;
    width:45vw;
}
.mens-jewe{
    width:20vw;
   display:flex;
   flex-direction:column;
}

.mens {
    height:200px;
    width:20vw;
}
.womens {
    height:400px;
    width:30vw;
    
}

.jewelry {
    width:20vw;
    height:200px;
}
/* Banner end */
/* Card  start */
.product-container {
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top:20px;
}
.card {
    width:15vw;
    display:flex;
    flex-direction:column;
    /* justify-content: center; */
    align-items:center;
    background-color:#FFF;
    border:1px solid whitesmoke;
    box-shadow: 10px;
    margin-bottom:10px;
    
}
.card div {
    display:flex;
    justify-content:center;
    align-items:center;
    align-content: center;
}
.card img {
    height:140px;
    width:8vw;
    
}
.card h1,p {
    width:12vw;
    color:#1d3046;
    text-align:center;
    font-size: 15px;
    font-weight:500;

}
.card p {
   font-size: 20px;
   font-weight: 600;
}
.card:hover {
    transform: scale(1.1);
}

/* Card end */
/* Nav toggle start */
.active-nav {
    display:block;
}
.add-nav {
    display:none;
}
/* Nav toggle end */
/* Loader  start*/

.loader {
        border: 8px solid #f3f3f3;
        border-radius: 50%;
        border-top: 8px solid #bc7940;
        width: 30px;
        height: 30px;
        -webkit-animation: spin 2s linear infinite; /* Safari */
        animation: spin 1s linear infinite;
    }
  
  
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  /* Loader end */

@media only screen and (max-width:800px) {
    .product-container {
        display:flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding-top:20px;
    }
    .card {
        width:25vw;
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items:center;

       
    }
    .card h1,p {
        width:20vw;
        text-align:center;
        color:#1d3046;
        font-size: 17px;
        font-weight:500;
    }
    .card div {
        width:20vw;
        
    }

    .text-part {
        margin-top: 20px;
        width:50vw;
    }
    
    .text-part h2 {
        color:#bd8353;
        font-weight: 500;
    
    }
    .text-part h1 {
        margin-top:20px;
        color:#1d3046;
        font-size: 30px;;
    }
    .text-part h1 span {
        padding-left:10px;
        color:#bc7940;
    }
    .text-part button {
         margin-top:10px;
         padding:10px 20px 10px 20px;
         background-color:#bc7940; 
         border:none; 
         color:#fff;  
    }
    
    .mens {
        height:100px;
        width:20vw;
    }
    .womens {
        height:200px;
        width:200px;
    }
    .jewelry {
        width:20vw;
        height:100px;
       
    }
    .active-nav {
        display:none;
    }
    .add-nav {
        display:block;
        display:flex;
        justify-content: center;
    }
    .add-nav a{
        border-bottom: 2px solid #bc7940;

    }   
}


@media only screen and (max-width:450px) {
    .banner {
        display:flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        padding:40px;
    
    }
    .mens {
        width:25vw;
        height: 100px;
        border-radius: 50px;;
    }
    .womens {
        border-radius: 100px;
    }
    .jewelry {
        width:100px;
        height:100px;
        border-radius: 50px;
        
        
    }
    .card {
        width:40vw;
       
    }
    .card img {
        height:100px;
        width:10vw;
        
    }

    .image-part {
        width:80vw;
    }
    .text-part{
        width:80vw;
    }

    .card h1,p {
        width:30vw;
        text-align:center;
        color:#1d3046;
        font-size: 12px;
        font-weight:500;
    }
    .card div {
        width:30vw;

        text-align:center;
        
        
        
        
        
    }
}